* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.navbar {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

a {
  color: white;
  text-decoration: none;
}

.logo {
  color: white;
}

.btn {
  display: flex;
  gap: 20px;
}

.counter {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.counter button {
  margin-right: 20px;
  width: 40px;
}

.todolist{
 padding: 20px;
}
.info{
  /* border: 1px solid blue; */
  width: 400px;
  display: flex;
  gap: 10px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 8px;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}
.info input{
  padding: 8px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border: none;
}
.info button{
  padding: 8px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border: none;
  background-color: #0000ff;
  color: white;
  font-weight: bold;

}

.todoitems {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 4px;
  gap: 10px;

}
.todo {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin: auto;
}

.btns{
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.btns button{
  cursor: pointer;
  color: white;
  background-color: black;
}

.todoitems button {
  width: 70px;
}

.togle_btn button {
  width: 90px;
  margin: 100px 100px;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.green {
  background-color: greenyellow;
}

.red {
  background-color: tomato;
}

.calculator {
  width: 300px;
  margin: 50px auto;
}

.calculator input {
  padding: 8px;
  border-radius: 4px;
}
.calculator h3 {
  margin-top: 20px;
}

.btnn {
  margin-top: 50px;
  display: flex;
  gap: 10px;
}

.btnn button {
  padding: 5px;
}

.crud_form {
  margin: 50px auto;
  padding: 20px;
}

.crud_form form {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border: 1px solid #6464d2;
  width: 400px;
  padding: 30px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px auto;
}


.crud_form input,
select,
button {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #6464d2;
}

.crud_form .items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 30px auto;
  justify-content: center;
  padding: 10px;

}
.crud_form button {
  background-color: #0000ff;
  color: white;
  font-weight: bold;
}

.itrmlist {
  border: 1px solid rgb(7, 35, 63);
  width: 400px;
  padding: 10px;
  border-radius: 4px;
}
.itrmlist button {
  background-color: #0000ff;
  font-weight: bold;
}

.crud_btn {
  display: flex;
  gap: 10px;
}

.timer {
  width: 400px;
  margin: 50px auto;
}

.prod_cont {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 23%);
  gap: 10px;
  justify-content: center;
}

.prod_items {
  border: 1px solid grey;
  padding: 10px;
  border-radius: 4px;
  gap: 8px;
}

.prod_items img {
  width: 200px;
  height: 200px;
}

.searc_input {
  padding: 8px;
  margin: 10px 10px;
  border-radius: 8px;
  width: 300px;
}

.select_tag {
  width: 200px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.postada {
  border: 1px solid black;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
}

.postada input {
  padding: 8px;
  border-radius: 8px;
}

.counter {
  /* border: #0000ff; */
  width: 400px;
  margin: 100px auto;
  padding: 30px;
  box-shadow: rgba(173, 173, 173, 0.35) 0px 5px 15px;
  text-align: center;
}

.counter_btn {
  /* border: 1px solid red; */

  margin: auto;
}

.counter h3 {
  color: blue;
  font-size: 30px;
}

.counter span {
  color: tomato;
}
.counter_btn button {
  width: 60px;
  border: none;
  cursor: pointer;
  background-color: rgb(49, 49, 94);
  color: white;
}

/* signup */

.signup {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 400px;
  margin: 100px auto;
  text-align: center;
  padding: 20px;
}

.signup h3 {
  text-align: center;
  color: rgb(25, 25, 86);
}

.signup_form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.signup_form input,
button {
  padding: 8px;
  border-radius: 4px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.signup_form button {
  cursor: pointer;
}

.signup span {
  color: green;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}
.error {
  color: red;
}


/* contanecrudapi */

.contanecrudapi{

  display: grid;
  grid-template-columns: repeat(3, 25%);
  gap: 10px;
  justify-content: center;
  padding: 10px;

}

.prod_items{
   display: flex;
   flex-direction: column;
   border: 1px solid rgb(37, 13, 92);

}

.prod_items button{
   background-color: blue;
   color: white;
   font-weight: bold;
}

.prod_items  img{
   height: 200px;
   width: 200px;
}

.add_form{
  display: flex;
  flex-direction: column;
  margin:20px auto;
  border: #0000ff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
  border-radius: 4px;
  width: 400px;
  gap: 10px;

}

.add_form input{
  padding: 8px;
  border-radius: 4px;
  border: #0000ff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.submit {
  background-color: tomato;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.edit-form{
  display: flex;
  flex-direction: column;
  margin:20px auto;
  border: #0000ff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
  border-radius: 4px;
  width: 400px;
  gap: 10px;
  position: absolute;
  top: 150%;
  left: 40%;
}

.edit-form input{
  padding: 8px;
  border-radius: 4px;
  border: #0000ff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.edit-form select{
  padding: 8px;
  border-radius: 4px;
  border: #0000ff
}

.edit-form  button{
  cursor: pointer;
  background-color: #0000ff;
  color: white;
  font-weight: bold;
}


.pagination {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 200px;
  display: flex;
  gap: 10px;
  margin: auto;
  padding: 10px;
  justify-content: center;

}

.pagination button{
  background-color: black;
  color: white;
}

/* table */

.prod_contain{
  padding: 10px;

}

table{
  margin: 20px auto;
  padding: 10px;
  width: 80%;
  border-collapse: collapse;
}

th {
  background-color: #d88383;
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

/* Styles for table data cells */
td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

.del_btn{
  background-color: red;
  color: white;
  font-weight: bold;
}

.table_edit form {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border: 1px solid #6464d2;
  width: 400px;
  padding: 30px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px auto;
}

.table_edit input, button{
  padding: 8px;
  border-radius: 4px;
}