*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.navbar{
   background-color: blue;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 20px;
}

.menu{
  display: flex;
  align-items: center;
  gap: 20px;
}

a{
  color: white;
  text-decoration: none;
  
}

.logo{
  color: white;

}

.btn{
  display: flex;
  gap: 20px;
}


.counter {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.counter button{
    margin-right: 20px;
    width: 40px;
}

.todoitems {
  border: 1px solid red;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.todo {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.todoitems button{
    width: 70px;
}


.togle_btn button{
   width: 90px;
   margin: 100px 100px;
   text-align: center;
   padding: 10px;
   border-radius: 4px;
   cursor: pointer;
}

.green{
  background-color: greenyellow;
}

.red{
  background-color: tomato;
}


.calculator {
    width: 300px;
    margin: 50px auto;
}

.calculator input {
    padding: 8px;
    border-radius: 4px;
}
.calculator  h3 {
  margin-top: 20px;
}

.btnn {
  margin-top: 50px;
  display: flex;
  gap: 10px;
}

.btnn button{
  padding: 5px;
}



.crud_form {
  margin: 50px auto;
  padding: 20px;
}

.crud_form form{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border: 1px solid grey;
   width: 400px;
   padding: 10px;
   border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.crud_form input, select,  button{
  padding: 8px;
  border-radius: 4px;

}



.crud_form .items{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}


.itrmlist {
  border: 1px solid rgb(7, 35, 63);
  width: 400px;
  padding: 10px;
}


.timer {
   width: 400px;
   margin: 50px auto;
}


.prod_cont{
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 23%);
  gap: 10px;
  justify-content: center;
}

.prod_items{

  border: 1px solid grey;
  padding: 10px;
  border-radius: 4px;
  gap: 8px;

}

.prod_items img{
   width: 200px;
   height: 200px;
}


.searc_input{
  padding: 8px;
  margin: 10px 10px;
  border-radius: 8px;
  width: 300px;
}

.select_tag {
  width: 200px;
}

.green{
  color: green;
}

.red{
  color: red;
}

.postada{
  border: 1px solid black;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;

}

.postada input {
  padding: 8px;
  border-radius: 8px;

}